* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 8px;
}

.diagram {
  background-color: #fff;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAaSURBVHgB7cAxAQAAAIIw+zckjYbwZQEa6TcaqgOLkWukagAAAABJRU5ErkJggg==");
  border: 1px solid #e2e4e8;
  flex: 1 0 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.message {
  padding: 10px 12px;
  border-radius: 20px;
  margin: 5px 10px;
  position: relative;
}

.message[data-by="ai"] {
  margin-right: 10%;
  background-color: #e1f8e1;
  color: #08681c;
}
.message[data-by="ai"] .caret {
  position: absolute;
  bottom: 0;
  left: -5px;
  transform: scaleX(-1);
  z-index: -1;
}

.message[data-by="human"] {
  margin-left: 10%;
  background-color: #eae0ff;
  color: #462093;
}
.message[data-by="human"] .caret {
  position: absolute;
  bottom: 0;
  right: -5px;
  z-index: -1;
}

.message p {
  margin: 0;
}

.message p + p {
  margin-top: 5px;
}

.ta {
  position: relative;
}

.ta .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
